<!--
<nav class="navbar">

  <a routerLink="/" 
     class="navbar-logo"
  >
    <img
      src="assets/images/gara.png"
      alt="Gara"
      class="navbar-icon"
    />
  </a>

  <a routerLink="/login" 
     class="nav-actions"
  >
    <button class="btn-cta btn-primary">Entrar</button>
  </a>
</nav>
-->

<header class="pub-header">
  <div class="pub-header__content">
    <a routerLink="/" class="pub-header__logo">
      <img src="assets/images/icon_Gara.png" alt="Gara" />
    </a>

    <button class="pub-header_btn" routerLink="/login">
      Entrar
    </button>
  </div>
</header>
