<header class="pri-header">
  <div class="pri-header__content">
    <button mat-icon-button (click)="menuService.toggleSidebar()">
      <mat-icon>{{ menuService.sidebarOpen() ? 'menu_open' : 'menu' }}</mat-icon>
    </button>

    <a routerLink="/home" class="pri-header__logo">
      <img src="assets/images/icon_Gara.png" alt="Gara" />
      <span class="header__title">Gara</span>
    </a>

    <div style="flex: 1;"></div>

    <span class="header__username">Bem-vindo, {{ authService.userFirstName() }} </span>

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</header>