<div class="login-container">
  <div class="login-card">
    <header class="login-header">
      <h1>Login</h1>
    </header>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>

      <!-- NOME -->
      <div class="form-group">
        <label>Usuário</label>
        <input type="text" formControlName="username" placeholder="Digite seu usuário ou e-mail" />
        @if (fieldInvalid('username')) {
        <span class="error">Nome de usuário inválido</span>
        }
      </div>

      <!-- RECUPERAR ACESSO -->
      <p class="recovery-link">
        <a routerLink="/recovery">esqueci a senha?</a>
      </p>
      
      <!-- SENHA -->
      <div class="form-group">
        <label>Senha</label>
        <input type="password" formControlName="password" placeholder="Mínimo 8 caracteres" />
        @if (fieldInvalid('password')) {
        <span class="error">Senha inválida</span>
        }
      </div>
      
      <!-- ENVIAR -->
      <button class="btn-primary" type="submit" [disabled]="isLoading">
        @if (!isLoading) {
        <span>Entrar</span>
        }
        @else {
        <span>Entrando...</span>
        }
      </button>
      
      <!-- LINK LOGIN -->
      <p class="register-link">
        Ainda não tem conta?
        <a routerLink="/register">Registre-se</a>
      </p>

    </form>
  </div>
</div>