<div class="register-container">
  <div class="register-card">
    <header class="register-header">
      <h1>Gara.</h1>
      <p>Crie sua conta gratuitamente</p>
    </header>

    <form [formGroup]="registerForm" (ngSubmit)="submit()" novalidate>
      <!-- NOME -->
      <div class="form-group">
        <label>Nome</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Digite seu nome"
        />
        @if (fieldInvalid('name')) {
        <span class="error">Nome inválido</span>
        }
      </div>

      <!-- SOBRENOME -->
      <div class="form-group">
        <label>Sobrenome</label>
        <input
          type="text"
          formControlName="surname"
          placeholder="Digite seu sobrenome"
        />
        @if (fieldInvalid('surname')) {
        <span class="error">Sobrenome inválido</span>
        }
      </div>

      <!-- USERNAME -->
      <div class="form-group">
        <label>Nome de usuário</label>
        <input
          type="text"
          formControlName="username"
          placeholder="ex: Seu_nome26"
          (blur)="onUsernameBlur()"
          [class.checking]="isCheckingUsername()"
        />

        @if (registerForm.get('username')?.hasError('required') &&
        registerForm.get('username')?.touched) {
        <small class="error">O nome de usuário é obrigatório.</small>
        } @else if (registerForm.get('username')?.hasError('minlength')) {
        <small class="error">Mínimo de 3 caracteres.</small>
        } @else if (registerForm.get('username')?.hasError('alreadyInUse')) {
        <small class="error">Este usuário já está em uso.</small>
        } @else if (usernameAvailable() === true && !isCheckingUsername) {
        <small class="success">Username disponível!</small>
        }
      </div>

      <!-- Email-->
      <div class="form-group">
        <label>E-mail</label>
        <input
          type="email"
          formControlName="email"
          placeholder="voce@email.com"
          (blur)="onEmailBlur()"
          [class.checking]="isCheckingEmail()"
        />
        @if (registerForm.get('email')?.hasError('required') &&
        registerForm.get('email')?.touched) {
        <small class="error">E-mail é obrigatório.</small>
        } @else if (registerForm.get('email')?.hasError('alreadyInUse')) {
        <small class="error">Este usuário já está em uso.</small>
        } @else if (emailAvailable() === true && !isCheckingEmail) {
        <small class="success">E-mail disponível!</small>
        }
      </div>

      <!-- SENHA -->
      <div class="form-group">
        <label>Senha</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Mínimo 8 caracteres"
        />
        @if (fieldInvalid('password')) {
        <span class="error">Senha inválida</span>
        }
      </div>

      <!-- CONFIRMAR SENHA -->
      <div class="form-group">
        <label>Confirmar senha</label>
        <input
          type="password"
          formControlName="password_confirmation"
          placeholder="Repita a senha"
        />
        @if (passwordsMismatch) {
        <span class="error">As senhas não conferem</span>
        }
      </div>
      <!-- TERMOS DE USO -->
      <div class="terms-group">
        <label class="terms-label">
          <input type="checkbox" formControlName="terms" />
          <span>
            Declaro que li e aceito os
            <a routerLink="/terms" target="_blank" rel="noopener noreferrer">
              Termos de Uso
            </a>
            e

            <a routerLink="/privacy" target="_blank" rel="noopener noreferrer">
              Política de Privaciade
            </a>
          </span>
        </label>

        @if (terms?.invalid && terms?.touched) {
        <small class="terms-error">
          Você precisa aceitar os termos para continuar
        </small>
        }
      </div>
      <!-- ENVIAR -->
      <button class="btn-primary" type="submit" [disabled]="isLoading()">
        @if (!isLoading()) {
        <span>Criar conta</span>
        } @else {
        <span>Criando conta...</span>
        }
      </button>

      <!-- LINK LOGIN -->
      <p class="login-link">
        Já tem conta?
        <a routerLink="/login">Entrar</a>
      </p>
    </form>
  </div>
</div>
