
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  /* color-scheme: light; */

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  /*background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
*/
  // Reset the user agent margin.
  margin: 0;
}
/* ===============================
   RESET + BASE
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-app);
  color: var(--text-primary);
}

/* ===============================
   VARIÁVEIS LIGHT (default)
================================ */

:root {
  /* Backgrounds #003049#FCCA46
 */
  --bg-app: #FFF8E7;
  --bg-surface: #FFFFFF;
  --bg-muted: #eef2f6;
  
  /* Textos */
  --text-primary: #222222;
  --text-secondary: #555555;
  --text-muted: #6B7280;
  --light-text: #ffffffee;

  /* Brand */
  --primary-color: #2A7DE1;
  --secondary-color: #00A86B;
  --accent-color: #19ab1b;
  
  --primary-hover: #115e59;
  --primary-soft: #ccfbf1;

  --header: #002f4983;
  --footer:   #acbed3;

  --btn-color: #e6a100;
  --btn-login: #de7404;
  --btn-main: #ce6d05ea;
  --text-btn: #ffffff;

  --side-one: #3c6f8ae8;
  --side-two: #276f96e3;
  /* Estados */
  --danger: #dc2626;
  --warning: #facc15;
  --success: #2A9D8F;
  --info: #0284c7;
  
  /* Bordas & UI */
  --box-shadow:  rgba(0, 0, 0, 0.08);
  --focus-input: #17793b;
  --border-color: #d1d5db;
  --border-soft: #e2e8f0;
  --focus-ring: rgba(15, 118, 110, 0.35);

  /* Overlay */
  --dark-overlay: rgba(4, 12, 17, 0.65);
}

/* ===============================
   VARIÁVEIS DARK
================================ */

html[data-bs-theme='dark'] {
  /* Backgrounds */
  --bg-app: #0D1117;          /* fundo principal */
  --bg-surface: #161B22;      /* cards, modais */
  --bg-muted: #1F2937;        /* seções, listas */

  /* Textos */
  --text-primary: #F9FAFB;    /* texto principal */
  --text-secondary: #D1D5DB;  /* textos secundários */
  --text-muted: #9CA3AF;      /* placeholders, hints */
  --light-text: #ffffffee;

  /* Brand */
  --primary-color: #3A7BD5;
  --secondary-color: #00C48C;
  --accent-color: #4ADE80;

  --primary-hover: #2563EB;
  --primary-soft: #1E3A8A;

  --header: #3a7bd58e;
  --footer: #00c48d77;
  
  /* Botões */
  --btn-color: #F59E0B;       /* Amarelo forte */
  --btn-login: #F97316;       /* Laranja vibrante */
  --btn-main: #EA580C;        /* Laranja mais intenso */
  --text-btn: #ffffff;        /* Texto branco nos botões */


  /* Estados */
  --danger: #F87171;
  --warning: #FACC15;
  --success: #34D399;
  --info: #38BDF8;

  /* Bordas & UI */
  --box-shadow: rgba(255, 255, 255, 0.036); /* Sombras leves claras */
  --focus-input: #10B981;     /* Verde foco */
  --border-color: #374151;    /* Bordas discretas */
  --border-soft: #4B5563;     /* Bordas suaves */
  --focus-ring: rgba(59, 130, 246, 0.45); /* Azul foco */

  /* Overlay */
  --dark-overlay: rgba(0, 0, 0, 0.65); /* Overlay escuro */
}


/* ===============================
   BOTÕES GLOBAIS
================================ 

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
