/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }

/* Reset b치sico e Fontes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Vari치veis de Cor Globais */
:root {
  --primary-color: #2E7D32; /* Verde S치lvia Forte */
  --secondary-color: #1A237E; /* Azul Marinho */
  --light-text: #ffffff;
  --dark-overlay: rgba(0, 0, 0, 0.65);
}

/* Classes utilit치rias globais */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  transition: transform 0.2s, background-color 0.2s;

  &:hover {
    transform: scale(1.05);
    background-color: #256629;
  }
}